# ===================
#  General 
# ===================
TRADE_ENVIRONMENT = "DEMO" # Accepts DEMO and PROD
LOG_LEVEL = "INFO"
LOG_DIRECTORY="logs"
LOG_RETENTION_DAYS=7

# ===================
#  Scraper 
# ===================
SCRAPER_URL="https://api-manager.upbit.com/api/v1/announcements/search"
SCRAPER_SEARCH_TERM="(KRW Market)"
SCRAPER_COOLDOWN=10
SCRAPER_COOLDOWN_OFFSET=2.5
SCRAPER_TIMEOUT=5

# ===================
#  Binance 
# ===================
TRADING_ENABLED=false
ORDER_DIRECTION="BUY"
ORDER_QUOTE_AMOUNT=100
ORDER_CALLBACK_RATE=5
ORDER_QUOTE_ASSET="USDT"
BINANCE_API_KEY = your-key-here
BINANCE_API_SECRET = your-key-here
