# ===================
#  General 
# ===================
TRADE_ENVIRONMENT = "DEMO" # Accepts DEMO and PROD

# ===================
#  Scraper 
# ===================
SCRAPER_URL="https://api-manager.upbit.com/api/v1/announcements/search"
SCRAPER_SEARCH_TERM="(KRW Market)"

# ===================
#  Binance 
# ===================
BINANCE_API_KEY = your-key-here
BINANCE_API_SECRET = your-key-here